        <!-- Get the contents via https://buttons.github.io -->
        <!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="https://github.com/imdjh/pyrtal" data-style="mega" data-count-href="/imdjh/pyrtal/stargazers" data-count-api="/repos/imdjh/pyrtal#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star imdjh/pyrtal on GitHub">Star</a>
        <a aria-label="Fork imdjh/pyrtal on GitHub" data-style="mega" data-icon="octicon-git-branch" href="https://github.com/imdjh/pyrtal/fork" class="github-button">Fork</a>
        <a aria-label="Download imdjh/pyrtal on GitHub" data-style="mega" data-icon="octicon-cloud-download" href="https://github.com/imdjh/pyrtal/archive/master.zip" class="github-button">Download</a>
